<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.roilat.cqzqjg.services.biz.dao.BizMemberUserMapper">

    <resultMap id="BaseResultMap" type="cn.roilat.cqzqjg.services.biz.model.BizMemberUser">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="company_id" jdbcType="INTEGER" property="companyId"/>
        <result column="login_name" jdbcType="VARCHAR" property="loginName"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="wechat" jdbcType="VARCHAR" property="wechat"/>
        <result column="open_id" jdbcType="VARCHAR" property="openId"/>
        <result column="if_wechat_login" jdbcType="CHAR" property="ifWechatLogin"/>
        <result column="approve_status" jdbcType="CHAR" property="approveStatus"/>
        <result column="approve_desc" jdbcType="VARCHAR" property="approveDesc"/>
        <result column="if_locked" jdbcType="CHAR" property="ifLocked"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber"/>
    </resultMap>

    <insert id="add" parameterType="cn.roilat.cqzqjg.services.biz.model.BizMemberUser">
        insert into biz_member_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="companyName != null">
                company_name,
            </if>
            <if test="companyId != null">
                company_id,
            </if>
            <if test="loginName != null">
                login_name,
            </if>
            <if test="nickName != null">
                nick_name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="salt != null">
                salt,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="wechat != null">
                wechat,
            </if>
            <if test="openId != null">
                open_id,
            </if>
            <if test="ifWechatLogin != null">
                if_wechat_login,
            </if>
            <if test="approveStatus != null">
                approve_status,
            </if>
            <if test="approveDesc != null">
                approve_desc,
            </if>
            <if test="ifLocked != null">
                if_locked,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="lastUpdateBy != null">
                last_update_by,
            </if>
            <if test="lastUpdateTime != null">
                last_update_time,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>
            <if test="phoneNumber != null">
                phone_number,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                #{companyId,jdbcType=INTEGER},
            </if>
            <if test="loginName != null">
                #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                #{salt,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="wechat != null">
                #{wechat,jdbcType=VARCHAR},
            </if>
            <if test="openId != null">
                #{openId,jdbcType=VARCHAR},
            </if>
            <if test="ifWechatLogin != null">
                #{ifWechatLogin,jdbcType=CHAR},
            </if>
            <if test="approveStatus != null">
                #{approveStatus,jdbcType=CHAR},
            </if>
            <if test="approveDesc != null">
                #{approveDesc,jdbcType=CHAR},
            </if>
            <if test="ifLocked != null">
                #{ifLocked,jdbcType=CHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateBy != null">
                #{lastUpdateBy,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateTime != null">
                #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=TINYINT},
            </if>
            <if test="phoneNumber != null">
                #{phoneNumber,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
    update biz_member_user set del_flag=1,last_update_time=SYSDATE()
    where id = #{id,jdbcType=BIGINT}
  </delete>

    <delete id="deleteById" parameterType="java.util.Map">
    update biz_member_user set del_flag=1,last_update_time=SYSDATE(),last_update_by= #{params.lastUpdateBy}
    where id = #{params.id}
  </delete>


    <update id="update" parameterType="cn.roilat.cqzqjg.services.biz.model.BizMemberUser">
        update biz_member_user
        <set>
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="companyName != null">
                company_name = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=INTEGER},
            </if>
            <if test="loginName != null">
                login_name = #{loginName,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null">
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="wechat != null">
                wechat = #{wechat,jdbcType=VARCHAR},
            </if>
            <if test="openId != null">
                open_id = #{openId,jdbcType=VARCHAR},
            </if>
            <if test="ifWechatLogin != null">
                if_wechat_login = #{ifWechatLogin,jdbcType=CHAR},
            </if>
            <if test="approveStatus != null">
                approve_status = #{approveStatus,jdbcType=CHAR},
            </if>
            <if test="approveDesc != null">
                approve_desc = #{approveDesc,jdbcType=CHAR},
            </if>
            <if test="ifLocked != null">
                if_locked = #{ifLocked,jdbcType=CHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateBy != null">
                last_update_by = #{lastUpdateBy,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateTime != null">
                last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                del_flag = #{delFlag,jdbcType=TINYINT},
            </if>
            <if test="phoneNumber != null">
                phone_number = #{phoneNumber,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from biz_member_user
    where id = #{id,jdbcType=BIGINT} and del_flag=0
  </select>
    <select id="findByLoginName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from biz_member_user
    where login_name = #{loginName,jdbcType=VARCHAR} and del_flag=0
  </select>
    <select id="findByOpenId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from biz_member_user
    where open_id = #{openId,jdbcType=VARCHAR} and del_flag=0
  </select>

    <select id="findPage" resultMap="BaseResultMap">
    select * from biz_member_user
  </select>

    <select id="findPageByCondition" resultMap="BaseResultMap">
        select * from biz_member_user
        <trim prefix="where" prefixOverrides="and|or">
            <if test="companyName !=null">
                AND company_name like CONCAT('%',#{companyName},'%')
            </if>
            <if test="nickName !=null">
                AND nick_name like CONCAT('%',#{nickName},'%')
            </if>
            <if test="loginName !=null">
                AND login_name like CONCAT('%',#{loginName},'%')
            </if>
            <if test="phoneNumber !=null">
                AND phone_number like CONCAT('%',#{phoneNumber},'%')
            </if>
            <if test="approveStatus !=null">
                AND approve_status like CONCAT('%',#{approveStatus},'%')
            </if>

        </trim>
    </select>

</mapper>