<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.roilat.cqzqjg.services.biz.dao.BizMemberCompanyMapper">

    <resultMap id="BaseResultMap" type="cn.roilat.cqzqjg.services.biz.model.BizMemberCompany">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="join_date" jdbcType="DATE" property="joinDate"/>
        <result column="quit_date" jdbcType="DATE" property="quitDate"/>
        <result column="primary_contact_person" jdbcType="VARCHAR" property="primaryContactPerson"/>
        <result column="primary_contact_info" jdbcType="VARCHAR" property="primaryContactInfo"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="company_code" jdbcType="VARCHAR" property="companyCode"/>
        <result column="legal_person" jdbcType="VARCHAR" property="legalPerson"/>
        <result column="ownership_pattern" jdbcType="VARCHAR" property="ownershipPattern"/>
        <result column="company_place" jdbcType="VARCHAR" property="companyPlace"/>
        <result column="registration_date" jdbcType="DATE" property="registrationDate"/>
        <result column="registration_assets" jdbcType="VARCHAR" property="registrationAssets"/>
        <result column="company_phone" jdbcType="VARCHAR" property="companyPhone"/>
        <result column="company_address" jdbcType="VARCHAR" property="companyAddress"/>
        <result column="company_fax" jdbcType="VARCHAR" property="companyFax"/>
        <result column="company_email" jdbcType="VARCHAR" property="companyEmail"/>
        <result column="company_url" jdbcType="VARCHAR" property="companyUrl"/>
        <result column="record_status" jdbcType="CHAR" property="recordStatus"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy"/>
        <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime"/>
        <result column="del_flag" jdbcType="TINYINT" property="delFlag"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, type,join_date,quit_date,primary_contact_person,primary_contact_info,company_name,company_code,legal_person,
        ownership_pattern,company_place,registration_date,registration_assets,company_phone,company_address,company_fax,company_email,
        company_url,record_status,create_by,create_time,last_update_by,last_update_time,del_flag
    </sql>


    <insert id="add" parameterType="cn.roilat.cqzqjg.services.biz.model.BizMemberCompany">
        insert into biz_member_company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="joinDate != null">
                join_date,
            </if>
            <if test="quitDate != null">
                quit_date,
            </if>
            <if test="primaryContactPerson != null">
                primary_contact_person,
            </if>
            <if test="primaryContactInfo != null">
                primary_contact_info,
            </if>
            <if test="companyName != null">
                company_name,
            </if>
            <if test="companyCode != null">
                company_code,
            </if>
            <if test="legalPerson != null">
                legal_person,
            </if>
            <if test="ownershipPattern != null">
                ownership_pattern,
            </if>
            <if test="companyPlace != null">
                company_place,
            </if>
            <if test="registrationDate != null">
                registration_date,
            </if>
            <if test="registrationAssets != null">
                registration_assets,
            </if>
            <if test="companyPhone != null">
                company_phone,
            </if>
            <if test="companyAddress != null">
                company_address,
            </if>
            <if test="companyFax != null">
                company_fax,
            </if>
            <if test="companyEmail != null">
                company_email,
            </if>
            <if test="companyUrl != null">
                company_url,
            </if>
            <if test="recordStatus != null">
                record_status,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="lastUpdateBy != null">
                last_update_by,
            </if>
            <if test="lastUpdateTime != null">
                last_update_time,
            </if>
            <if test="delFlag != null">
                del_flag,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="joinDate != null">
                #{joinDate,jdbcType=DATE},
            </if>
            <if test="quitDate != null">
                #{quitDate,jdbcType=DATE},
            </if>
            <if test="primaryContactPerson != null">
                #{primaryContactPerson,jdbcType=VARCHAR},
            </if>
            <if test="primaryContactInfo != null">
                #{primaryContactInfo,jdbcType=VARCHAR},
            </if>
            <if test="companyName != null">
                #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="companyCode != null">
                #{companyCode,jdbcType=VARCHAR},
            </if>
            <if test="legalPerson != null">
                #{legalPerson,jdbcType=VARCHAR},
            </if>
            <if test="ownershipPattern != null">
                #{ownershipPattern,jdbcType=VARCHAR},
            </if>
            <if test="companyPlace != null">
                #{companyPlace,jdbcType=CHAR},
            </if>
            <if test="registrationDate != null">
                #{registrationDate,jdbcType=DATE},
            </if>
            <if test="registrationAssets != null">
                #{registrationAssets,jdbcType=VARCHAR},
            </if>
            <if test="companyPhone != null">
                #{companyPhone,jdbcType=VARCHAR},
            </if>
            <if test="companyAddress != null">
                #{companyAddress,jdbcType=VARCHAR},
            </if>
            <if test="companyFax != null">
                #{companyFax,jdbcType=VARCHAR},
            </if>
            <if test="companyEmail != null">
                #{companyEmail,jdbcType=VARCHAR},
            </if>
            <if test="companyUrl != null">
                #{companyUrl,jdbcType=VARCHAR},
            </if>
            <if test="recordStatus != null">
                #{recordStatus,jdbcType=CHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateBy != null">
                #{lastUpdateBy,jdbcType=VARCHAR},
            </if>
            <if test="lastUpdateTime != null">
                #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="delFlag != null">
                #{delFlag,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>


    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from biz_member_company
        where id = #{id,jdbcType=BIGINT} and del_flag=0
    </select>

    <select id="findPageByNameAndCode" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from biz_member_company
        where company_name = #{params.companyName} or company_code=#{params.companyCode}
    </select>


    <select id="findPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from biz_member_company
    </select>

    <select id="findPageByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from biz_member_company
        <trim prefix="where">
            <if test="searchText !=null">
                (company_name like CONCAT('%',#{searchText},'%') OR primary_contact_person like
                CONCAT('%',#{searchText},'%'))
            </if>
        </trim>
    </select>


    <update id="update" parameterType="cn.roilat.cqzqjg.services.biz.model.BizMemberCompany">
        update biz_member_company
        <set>
            <trim prefix="" suffix="" suffixOverrides=",">
                <if test="id != null">
                    id= #{id,jdbcType=BIGINT},
                </if>
                <if test="type != null">
                    type=#{type,jdbcType=VARCHAR},
                </if>
                <if test="joinDate != null">
                    join_date=#{joinDate,jdbcType=DATE},
                </if>
                <if test="quitDate != null">
                    quit_date=#{quitDate,jdbcType=DATE},
                </if>
                <if test="primaryContactPerson != null">
                    primary_contact_person=#{primaryContactPerson,jdbcType=VARCHAR},
                </if>
                <if test="primaryContactInfo != null">
                    primary_contact_info=#{primaryContactInfo,jdbcType=VARCHAR},
                </if>
                <if test="companyName != null">
                    company_name=#{companyName,jdbcType=VARCHAR},
                </if>
                <if test="companyCode != null">
                    company_code=#{companyCode,jdbcType=VARCHAR},
                </if>
                <if test="legalPerson != null">
                    legal_person= #{legalPerson,jdbcType=VARCHAR},
                </if>
                <if test="ownershipPattern != null">
                    ownership_pattern= #{ownershipPattern,jdbcType=VARCHAR},
                </if>
                <if test="companyPlace != null">
                    company_place=#{companyPlace,jdbcType=CHAR},
                </if>
                <if test="registrationDate != null">
                    registration_date=#{registrationDate,jdbcType=DATE},
                </if>
                <if test="registrationAssets != null">
                    registration_assets= #{registrationAssets,jdbcType=VARCHAR},
                </if>
                <if test="companyPhone != null">
                    company_phone=#{companyPhone,jdbcType=VARCHAR},
                </if>
                <if test="companyAddress != null">
                    company_address= #{companyAddress,jdbcType=VARCHAR},
                </if>
                <if test="companyFax != null">
                    company_fax= #{companyFax,jdbcType=VARCHAR},
                </if>
                <if test="companyEmail != null">
                    company_email= #{companyEmail,jdbcType=VARCHAR},
                </if>
                <if test="companyUrl != null">
                    company_url=#{companyUrl,jdbcType=VARCHAR},
                </if>
                <if test="recordStatus != null">
                    record_status= #{recordStatus,jdbcType=CHAR},
                </if>
                <if test="createBy != null">
                    create_by=#{createBy,jdbcType=VARCHAR},
                </if>
                <if test="createTime != null">
                    create_time= #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="lastUpdateBy != null">
                    last_update_by=#{lastUpdateBy,jdbcType=VARCHAR},
                </if>
                <if test="lastUpdateTime != null">
                    last_update_time=#{lastUpdateTime,jdbcType=TIMESTAMP},
                </if>
                <if test="delFlag != null">
                    del_flag= #{delFlag,jdbcType=TINYINT},
                </if>
            </trim>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteById" parameterType="java.util.Map">
    update biz_member_company set del_flag=1,last_update_time=SYSDATE(),last_update_by= #{params.lastUpdateBy}
    where id = #{params.id}
  </delete>


</mapper>